body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.floor{
    fill: #999999;
}
.floor_room {
    fill: #999999;
}
.desc {
    fill: #999999;
}
.name {
    font-weight: bold;
    font-size: 120%;
}
.text {
    margin: auto;
    width: 80%;
    text-align: justify;
    margin-top:20px;
}
.text2 {
    margin: auto;
    width: 80%;
    text-align: center;
    margin-top:20px;
}
div.image{
    margin:auto;
    width:100%;
    content:url('telka.jpg');
}
div.image2{
    margin:auto;
    width:100%;
    content:url('campus.jpg');
}

#map:hover .rect { animation: none; }

#BubbleGreen:hover + #Rect_Green { animation: none; opacity: 1; }
#BubbleBrown:hover + #Rect_Brown { animation: none; opacity: 1; }
#BubbleKafe:hover + #Rect_Kafe { animation: none; opacity: 1; }
#BubbleTerrace:hover + #Rect_Terrace { animation: none; opacity: 1; }


@keyframes Show3 {
    0% { opacity: 1;}
    20% { opacity: 1;}
    25% { opacity: .0;}
    100% { opacity: .0;}
}

#Rect_Kafe {
   animation: Show 20s infinite linear;
   animation-delay: 0s;
}

#Rect_Green {
   animation: Show 20s infinite linear;
   animation-delay: 5s;
}

#Rect_Brown {
   animation: Show 20s infinite linear;
   animation-delay: 10s;
}

#Rect_Terrace {
   animation: Show 20s infinite linear;
   animation-delay: 15s;
}






@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}


#BubbleGreen:hover {-webkit-animation: mover 0.5s infinite  alternate;
                            animation: mover 0.5s infinite  alternate;}

#BubbleBrown:hover {-webkit-animation: mover 0.5s infinite  alternate;
                            animation: mover 0.5s infinite  alternate;}

#BubbleKafe:hover {-webkit-animation: mover 0.5s infinite  alternate;
                            animation: mover 0.5s infinite  alternate;}

#BubbleTerrace:hover {-webkit-animation: mover 0.5s infinite  alternate;
                            animation: mover 0.5s infinite  alternate;}